<div>
  <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
    [src]="frame_source">
  </iframe>
  <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
    <a href="https://soundcloud.com/user-957600107" title="Roosa Poni" target="_blank" style="color: #cccccc; text-decoration: none;">Roosa Poni</a> ·
    <a href="https://soundcloud.com/user-957600107/kaval-sviri" title="Kaval Sviri" target="_blank" style="color: #cccccc; text-decoration: none;">Kaval Sviri</a>
  </div>
</div>
